.container-massages{
    max-height:400px ;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1rem;
}
.title-talking{
    font-weight: bolder;
}
.msg-txt-container{
    border-bottom: 1px solid lightgray;
}