.popup-cotainer{
    width: fit-content;
    position: absolute;
    bottom: 50%;
    right:50%;
    transform: translate(50%,50%);
    box-shadow: 0 0px 3px rgb(96, 96, 96);
    background-color: beige;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid black;

}
