form.form-editor > *{
    margin-bottom: 5px;
    width: 50%;
}
.loader {
  width: 10% !important;
  }
  
  .img-list img {
    height: 100px;
  }
  
  label img {
    height: 30px;
  }
  
  input.input-file {
    width: 0;
    height: 0;
  }