.accordion-item{
    border: 1px solid rgba(223, 223, 223, 0.735);
    background-color: #2196F3;
    color:white;
    width: rem(500px);
    
    cursor: pointer;

    .title{
        padding: 20px;
    }
    .txt{
        background-color: white;
        position: relative;
        bottom: -5px;
        color: black;
        font-weight: 100;
        padding: 15px;
    }
}
